@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
    position: relative;
    overflow: hidden;
    background-color: #dc232e;
    z-index: 1;
}

.btn-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.4s;
}

.btn-custom:hover {
    color: #dc232e;
    outline: 2px solid #dc232e;
}

.btn-custom:hover::before {
    width: 100%;
}


/* 2nd custom button hover */

.btn-custom-two {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-custom-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #dc232e;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.4s;
}

.btn-custom-two:hover {
    color: white;

}

.btn-custom-two:hover::before {
    width: 100%;
}